body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url();
    background-size: cover;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
        background-color: rgba(75, 54, 33, 0.8); /* Coklat gelap semi transparan */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 40px;
        width: 400px;
      }
      
  
  .login-header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-btn {
    background-color: #0073b1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  .login-btn:hover {
    background-color: #005c90;
  }
  
  .forgot-password {
    margin-top: 20px;
    text-align: center;
  }
  
  .forgot-password a {
    text-decoration: none;
    color: #0073b1;
  }
  
  .signup-link {
    margin-top: 20px;
    text-align: center
  }  