/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(/src/bckgr.webp);
  background-size:cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(75, 54, 33, 0.8);
}

/* Penyesuaian CSS untuk footer */
footer {
  background-color: rgba(75, 54, 33, 0.8);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#map {
  height: 200px; /* Atau tinggi yang diinginkan */
  width: 50%; /* Menetapkan lebar peta menjadi separuh dari footer */
  /* Tambahkan border atau padding jika diperlukan */
}

.contact-info {
  width: 50%; /* Menetapkan lebar info kontak menjadi separuh dari footer */
  padding: 10px; /* Menambahkan sedikit padding */
  text-align: left; /* Menyelaraskan teks ke kiri */
}

/* CSS to make the logo circular */
.logo img {
  height: 80px;
  width: 80px;
  border-radius: 50%; /* This will make the logo circular */
}

.navbar {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar li a {
  text-decoration: none;
  color: #ffffff;
  font-style: bold;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.content img {
  width: 50%;
}

.content p {
  width: 50%;
}

/* Profile styling */
.profile {
  position: relative;
  display: inline-block;
}

.profile img {
  height: 40px;
  cursor: pointer;
}

.profile-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.profile-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.profile-dropdown a:hover {
  background-color: #f1f1f1;
}
