/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(/src/bckgr.webp);
  background-size:cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(75, 54, 33, 0.8);
}

/* Penyesuaian CSS untuk footer */
footer {
  background-color: rgba(75, 54, 33, 0.8);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.contact-info {
  width: 50%; /* Menetapkan lebar info kontak menjadi separuh dari footer */
  padding: 10px; /* Menambahkan sedikit padding */
  text-align: left; /* Menyelaraskan teks ke kiri */
}

/* CSS to make the logo circular */
.logo img {
  height: 80px;
  width: 80px;
  border-radius: 50%; /* This will make the logo circular */
}

nav.navbar {
  flex: 1; /* Take remaining space */
  text-align: center; /* Center align the navbar */
}

nav.navbar ul {
  list-style: none;
  padding: 0;
}

nav.navbar li {
  display: inline-block;
  margin-right: 20px;
}

nav.navbar li:last-child {
  margin-right: 0;
}

nav.navbar li a {
  text-decoration: none;
  color: #ffffff;
  font-style: bold;
}

@media only screen and (max-width: 600px) {
  .navbar ul {
    display: none; /* Sembunyikan daftar menu utama */
    position: absolute;
    top: 100%; /* Letakkan dropdown tepat di bawah navbar */
    left: 0;
    background-color: rgba(75, 54, 33, 0.8); /* Warna latar belakang dropdown */
    width: 100%; /* Lebar dropdown mengikuti lebar layar */
    padding: 10px 0; /* Beri jarak pada atas dan bawah dropdown */
  }

  .navbar ul li {
    display: block; /* Setiap menu menjadi blok */
    margin: 0; /* Hapus margin */
    text-align: center; /* Teks menu di tengah */
  }

  .navbar ul li a {
    display: block; /* Teks menu menjadi blok */
    padding: 10px 0; /* Beri jarak pada atas dan bawah teks menu */
    color: #ffffff; /* Warna teks menu */
  }
}
/* Profile styling */
.profile {
  position: relative;
  display: inline-block;
}

.profile img {
  height: 40px;
  cursor: pointer;
}

.profile-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.profile-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.profile-dropdown a:hover {
  background-color: #f1f1f1;
}